* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.Retangulo {
    width: 400px;
    height: 200px;
    background-color: #ffc0cb;
    margin: 400%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;

}

.rosa {
    background-color: #ffc0cb;
}

.roxo {
    background-color: rgb(212, 173, 248);
}